<div id="edit-answer-form">
  <%= form_for [@question, answer] do |f| %>
  <%= f.hidden_field :answer_id, :value => answer.id %>
  <%= f.check_box :accepted %>
  <%= f.submit "BEST ANSWER" %>
<% end %>
</div>